@font-face {
    font-family: 'Pathfinder-Icons';
    src: url('Pathfinder-Icons.ttf') format('truetype');
}

* {
    font-family: sans-serif;
}

#list-actions-encounter {
    list-style-type: none;
    padding: 0;
}

.action-name {
    font-weight: bold;
}

.action-tags {
    list-style-type: none;
    padding: 0;
}

.action-tags > li {
    display: inline-block;
}

.action-tag, .action-tag-custom {
    padding: 3px 5px;
    margin-right: 0.2em;
    background-color: #560C06;
    color: #FFFFFF;
}

.action-tag-custom {
    filter: opacity(50%);
}

.action-description {
    background-color: #ECE4CB;
    white-space: pre-wrap;
}

.action-procedure {
    background-color: #ECE4CB;
    white-space: pre-wrap;
}

.action-cost {
    font-family: Pathfinder-Icons, sans-serif;
}

.action {
    background-color: #F4EFE2;
    border-style: solid;
    margin: 0.5em;
    padding: 0.5em;
    cursor: pointer;
}

.action:hover {
    filter: brightness(85%);
}

.action {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.action .action-name-cost {
    grid-column: 1 / 3;
    grid-row: 1;
}

.action .action-short-description {
    grid-column: 3 / 7;
    grid-row: 1;
}

.action .action-page {
    grid-column: 7 / 9;
    grid-row: 1;
}

.action .action-tags {
    grid-column: 1 / 9;
    grid-row: 2;
}

.action .action-extra {
    grid-column: 1 / 9;
    grid-row: 3;
}

.action .action-page {
    text-align: right;
}

.action .action-description {
    border-style: solid;
    padding: 0.5em;
}

.action .action-procedure {
    border-style: solid;
    padding: 0.5em;
}

.action-name-cost .action-name {
    display: inline;
    padding-right: 5px;
}

.action-name-cost .action-cost {
    padding-right: 5px;
}

.action-extra {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.action-extra .action-description {
    grid-column: 1 / 6;
    grid-row: 1;
}

.action-extra .action-procedure {
    grid-column: 6 / 9;
    grid-row: 1;
}

.hidden {
    display: none;
}
